// totalUsuarios.scss
.total-users-drivers {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    p {
      margin: 8px 0;
      font-size: 16px;
      color: #333;
    }
  }
  