.welcomeMessage {
  background-color: #f4f4f4;
  padding: 250px;
  border-radius: 8px;
  margin: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcomeMessage h2 {
  color: #333;
}

.welcomeMessage p {
  color: #555;
}
